.activities__container {
  width: 95%;
  padding: 1rem;
}
.activity {
  width: 100%;
  background-color: red;
  border-radius: 30px;

  min-height: 200px;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}
.activity__options {
  position: absolute;
  right: 10%;
  top: 40%;
  background-color: white;
  color: black;
  padding: 10px 0.1rem;
  border-radius: 20px;
  transform: scale(0);
  transition: transform 0.5s ease;
  transform-origin: top right;
}
.activity__options.active {
  transform: scale(1);
}
.option {
  padding: 10px 20px;
  user-select: none;
  border-radius: 20px;
  cursor: pointer;
}
.option:hover {
  background: rgb(175, 171, 171);
}
.newActivity {
  width: 100%;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2rem 0;
  margin-bottom: 1rem;
  overflow: hidden;
}
.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.plus__sign {
  font-size: 4rem;
}
.activity__color {
  height: 15%;
}
.activity__details {
  border-radius: 30px;
  background-color: rgb(29, 32, 75);
  height: 85%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.activity__details:hover {
  background-color: rgb(32, 35, 75);
}
.activity__name_edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity_name {
  font-weight: 500;
}
.activity_edit {
  display: flex;
  gap: 2px;
  cursor: pointer;
}
.dot {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  display: flex;
  background-color: white;
  position: relative;
}
.time__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity__time {
  text-align: center;
  font-size: 18px;
}
.activity__time h2 {
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .activities__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .time__container {
    flex-direction: column;
  }
  .activity,
  .newActivity {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .activities__container {
    align-items: center;
    height: 90vh;
    overflow-y: scroll;
  }
  .activity,
  .newActivity {
    width: 30%;
  }
}
