.login__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__container {
  display: flex;
  width: 90%;
  border-radius: 30px;
  border: 1px solid gray;
  overflow: hidden;
  padding: 1rem 0;
}
.link {
  color: rgba(135, 206, 250, 0.801);
}
.link:hover {
  color: lightskyblue;
}
.login__image__container {
  width: 60%;
  display: none;
}
.login__image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .login__container {
    padding: 0;
    width: 60%;
  }
  .login__image__container {
    display: block;
  }
}
